button.btn {
  background: var(--btnColor);
  color: var(--white);
  width: 10vw;
  height: 7vh;
  border-radius: 10px;
  border-style: none;
  box-shadow: -3px 2px 8px var(--grey);
  font-size: large;
  font-weight: 500;
}
/* MEDIDAS PARA PANTALLAS */

/* MONITORES*/
@media screen and (max-width: 1024px) {
  button.btn {
    width: 15vw;
    height: 5vh;
    font-size: 1.5rem;
  }
}
/* TABLET */
@media screen and (max-width: 768px) {
  button.btn {
    width: 17vw;
    height: 5vh;
    font-size: 1rem;
  }
}
/* DISP. MÓVILES */
@media screen and (max-width: 450px) {
  button.btn {
    width: 30vw;
    height: 7vh;
    font-size: small;
  }
}
